@model HttpRequests.Models.Emlak

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/EmlakNestedLayout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Emlak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Semt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
