@model IEnumerable<Alcom.MODEL.Kategori>

@{
    ViewBag.Title = "Listele";
}

<h2>Listele</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilindiMi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UstKategorisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.KayitTarihi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GuncellemeTarihi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SilindiMi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adi)
    </td>
    <td>
        @(item.UstKategorisi?.Adi ??  "-" )
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
