@model IEnumerable<Alcom.MODEL.UrunOzellikleri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuncellemeTarihi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
    }

</table>
